<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>export</key>
	<array>
		<dict>
			<key>date</key>
			<string>Wednesday, February 21, 2024 at 2:23:48 PM Pacific Standard Time</string>
			<key>fullDate</key>
			<date>2024-02-21T22:23:49Z</date>
			<key>resultStr</key>
			<array>
				<string>/Users/km/websites/itslikesoup/anytype/content/posts/007 ~ format text style/img/cycling text-styles/☐ shortcuts, output, unison, no blink bar.mp4</string>
			</array>
			<key>sourceFP</key>
			<string>qlWfFI4+Ti6IJs7OSO3snQ - 2024-02-21 22:21:57 +0000</string>
		</dict>
	</array>
</dict>
</plist>
