<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>backupFolderName</key>
	<string>006~cycling text-styles</string>
	<key>libraryID</key>
	<string>F0BB6DC6-904D-4AE2-B76C-93CCA2BFCE9E</string>
</dict>
</plist>
