<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>export</key>
	<array>
		<dict>
			<key>date</key>
			<string>Wednesday, February 21, 2024 at 3:25:47 PM Pacific Standard Time</string>
			<key>fullDate</key>
			<date>2024-02-21T23:25:47Z</date>
			<key>resultStr</key>
			<array>
				<string>/Users/km/websites/itslikesoup/anytype/content/posts/007 ~ format text style/img/cycling text-styles/square.mp4</string>
			</array>
			<key>sourceFP</key>
			<string>kQ7bqXTnQmSiSTKDS2xMag - 2024-02-21 23:24:29 +0000</string>
		</dict>
		<dict>
			<key>date</key>
			<string>Wednesday, February 21, 2024 at 4:50:28 PM Pacific Standard Time</string>
			<key>fullDate</key>
			<date>2024-02-22T00:50:29Z</date>
			<key>resultStr</key>
			<array>
				<string>/Users/km/websites/itslikesoup/anytype/content/posts/007 ~ format text style/assets/cycling text-styles/output/vid/*square.mp4</string>
			</array>
			<key>sourceFP</key>
			<string>kQ7bqXTnQmSiSTKDS2xMag - 2024-02-22 00:48:52 +0000</string>
		</dict>
		<dict>
			<key>date</key>
			<string>Wednesday, February 21, 2024 at 4:57:03 PM Pacific Standard Time</string>
			<key>fullDate</key>
			<date>2024-02-22T00:57:03Z</date>
			<key>resultStr</key>
			<array>
				<string>/Users/km/websites/itslikesoup/anytype/content/posts/007 ~ format text style/assets/cycling text-styles/output/vid/square, 200zoom.mp4</string>
			</array>
			<key>sourceFP</key>
			<string>kQ7bqXTnQmSiSTKDS2xMag - 2024-02-22 00:55:25 +0000</string>
		</dict>
		<dict>
			<key>date</key>
			<string>Wednesday, February 21, 2024 at 5:07:39 PM Pacific Standard Time</string>
			<key>fullDate</key>
			<date>2024-02-22T01:07:39Z</date>
			<key>resultStr</key>
			<array>
				<string>/Users/km/websites/itslikesoup/anytype/content/posts/007 ~ format text style/assets/cycling text-styles/output/vid/square, 186zoom, 1080p.mp4</string>
			</array>
			<key>sourceFP</key>
			<string>kQ7bqXTnQmSiSTKDS2xMag - 2024-02-22 01:06:13 +0000</string>
		</dict>
	</array>
</dict>
</plist>
