<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>export</key>
	<array>
		<dict>
			<key>date</key>
			<string>Wednesday, February 21, 2024 at 2:07:32 PM Pacific Standard Time</string>
			<key>fullDate</key>
			<date>2024-02-21T22:07:34Z</date>
			<key>resultStr</key>
			<array>
				<string>/Users/km/websites/itslikesoup/anytype/content/posts/007 ~ format text style/img/cycling text-styles/square, shortcuts, output.mp4</string>
			</array>
			<key>sourceFP</key>
			<string>zR5B0HkAQ66P5TbwO3RTVA - 2024-02-21 22:06:19 +0000</string>
		</dict>
	</array>
</dict>
</plist>
