<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>FFSegmentStoreEncodedHeight</key>
	<integer>720</integer>
	<key>FFSegmentStoreEncodedWidth</key>
	<integer>720</integer>
	<key>FFSegmentStoreFieldOrder</key>
	<integer>0</integer>
	<key>FFSegmentStoreFileFrameCount</key>
	<integer>1024</integer>
	<key>FFSegmentStoreFirstSample</key>
	<integer>0</integer>
	<key>FFSegmentStorePixelTransformArray</key>
	<array>
		<array>
			<real>1</real>
			<real>0.0</real>
			<real>0.0</real>
			<real>360</real>
			<real>0.0</real>
			<real>-1</real>
			<real>0.0</real>
			<real>360</real>
			<real>0.0</real>
			<real>0.0</real>
			<real>1</real>
			<real>0.0</real>
			<real>0.0</real>
			<real>0.0</real>
			<real>0.0</real>
			<real>1</real>
		</array>
	</array>
	<key>FFSegmentStoreRenderProps</key>
	<string>FFRenderPropsProRes422_709</string>
	<key>FFSegmentStoreSegmentStoreMD5</key>
	<data>
	E3+P5zTXBEx+z7rNut2CnQ==
	</data>
	<key>FFSegmentStoreStoredFrameIndexes</key>
	<data>
	YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0b3BYJG9iamVjdHMS
	AAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRyb290gAGjCwwVVSRudWxs1A0ODxAREhMU
	Wk5TTG9jYXRpb25WJGNsYXNzXE5TUmFuZ2VDb3VudFhOU0xlbmd0aBIAAaXggAIQARA8
	0hYXGBlaJGNsYXNzbmFtZVgkY2xhc3Nlc18QEU5TTXV0YWJsZUluZGV4U2V0oxobHF8Q
	EU5TTXV0YWJsZUluZGV4U2V0Wk5TSW5kZXhTZXRYTlNPYmplY3QIERokKTI3SUxRU1dd
	ZnF4hY6TlZeZnqmyxsre6QAAAAAAAAEBAAAAAAAAAB0AAAAAAAAAAAAAAAAAAADy
	</data>
</dict>
</plist>
