<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>FFSegmentStoreEncodedHeight</key>
	<integer>194</integer>
	<key>FFSegmentStoreEncodedWidth</key>
	<integer>213</integer>
	<key>FFSegmentStoreFieldOrder</key>
	<integer>-1</integer>
	<key>FFSegmentStoreFileFrameCount</key>
	<integer>1024</integer>
	<key>FFSegmentStoreFirstSample</key>
	<integer>0</integer>
	<key>FFSegmentStorePixelTransformArray</key>
	<array>
		<array>
			<real>0.25</real>
			<real>0.0</real>
			<real>0.0</real>
			<real>106.5</real>
			<real>0.0</real>
			<real>-0.25</real>
			<real>0.0</real>
			<real>96.875</real>
			<real>0.0</real>
			<real>0.0</real>
			<real>1</real>
			<real>0.0</real>
			<real>0.0</real>
			<real>0.0</real>
			<real>0.0</real>
			<real>1</real>
		</array>
	</array>
	<key>FFSegmentStoreRenderProps</key>
	<string>FFRenderPropsThumbnail</string>
	<key>FFSegmentStoreSegmentStoreMD5</key>
	<data>
	mmqfqsKr840N03rQdd/wJA==
	</data>
	<key>FFSegmentStoreStoredFrameIndexes</key>
	<data>
	YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0b3BYJG9iamVjdHMS
	AAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRyb290gAGlCwwTFx5VJG51bGzTDQ4PEBES
	XE5TUmFuZ2VDb3VudFYkY2xhc3NbTlNSYW5nZURhdGEQfoAEgALSFA4VFldOUy5kYXRh
	TxEBYg0BEAETARcBHQEkAScBKgExATgBOgE+AUIBRQFMAVIBWQFcAWACZgFtAXMBdwF6
	AYcBAo4BAZEBAZUBAZsBAaIBAakBAawBAa8BAbYBAbwBAcMBAcYBAcoBAdYBAeEBAfwB
	ApYCAaMCAbECAbsCAcECAcgCAcoCAs4CAdICAdUCAdwCAd8CAeICAeYCAekCAewCAfAC
	AvYCAfoCAf0CAYADAYQDAYcDAYoDAZEDAZQDAZcDApsDAZ4DAaUDAasDAbIDAbYDAbkD
	Ab8DAcYDAc0DAdADAdMDAdoDAeADAeYDAusDAe4DAfQDAfsDAYIEAYUEAYgEAY0EAY8E
	AZYEAZwEAaAEAaMEAakEAbAEAbQEAbcEAboEAb0EAcQEAcsEAdEEAdUEAdgEAdsEAd8E
	AeUEAewEAe8EAfIEAfkEAYAFAYIFAYYFAYoFAY0FAaUFAakFAb8FAdAFAdoFAfQFAfcF
	AYAD0hgZGhtaJGNsYXNzbmFtZVgkY2xhc3Nlc11OU011dGFibGVEYXRhoxocHVZOU0Rh
	dGFYTlNPYmplY3TSGBkfIF8QEU5TTXV0YWJsZUluZGV4U2V0oyEiHV8QEU5TTXV0YWJs
	ZUluZGV4U2V0Wk5TSW5kZXhTZXQACAARABoAJAApADIANwBJAEwAUQBTAFkAXwBmAHMA
	egCGAIgAigCMAJEAmQH/AgECBgIRAhoCKAIsAjMCPAJBAlUCWQJtAAAAAAAAAgEAAAAA
	AAAAIwAAAAAAAAAAAAAAAAAAAng=
	</data>
</dict>
</plist>
