<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>export</key>
	<array>
		<dict>
			<key>date</key>
			<string>Wednesday, February 21, 2024 at 1:45:24 PM Pacific Standard Time</string>
			<key>fullDate</key>
			<date>2024-02-21T21:45:24Z</date>
			<key>resultStr</key>
			<array>
				<string>/Users/km/websites/itslikesoup/anytype/content/posts/007 ~ format text style/img/cycling text-styles/og zoomed.mp4</string>
			</array>
			<key>sourceFP</key>
			<string>glayXT8EQfGLqKCHYnhiZA - 2024-02-21 01:50:54 +0000</string>
		</dict>
	</array>
</dict>
</plist>
